@import 'variables';

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: $black;
}

.header {
  padding: 0 $padding-horizontal;
  display: flex;
  color:  $white-2;
  position: absolute;
}

.navbar-welcome {
  color: #fff;
  font-weight: bold;
  padding: 0 16px;
}

.app-content {
  padding: $padding-vertical $padding-horizontal;
  flex: 1;
  overflow-y: auto;

  .page-title {
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    color: $black;
    text-align: center;
    margin: $spacing-unit 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(90deg, $gray, $blue);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: $shadow-text;
    padding: $small-spacing $spacing-unit;
    border-radius: $border-radius;
    display: inline-block;

    @media (max-width: $breakpoint-mobile) {
      font-size: $font-size-large - 0.5rem;
      letter-spacing: 1px;
      padding: $small-spacing $small-spacing;
    }
  }
}

.pokemon-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  h1 {
    text-align: center;
    margin-bottom: $spacing-unit;
    font-size: $font-size-medium;
  }

  .search-input {
    margin-bottom: $spacing-unit;
    max-width: 62vh;
    width: 100%;
  }

  .pokemon-table {
    flex: 1;
    overflow-y: auto;
    max-height: 50vh;
  }

  .pokemon-card {
    max-width: 31vh;
    margin: 0 auto;
    max-height: 40vh;
    overflow-y: auto;

    .ant-card-cover div {
      height: 15vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color:$white-2;
      color: $gray;
    }
  }
}

.counter-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    text-align: center;
    margin-bottom: $spacing-unit;
    font-size: $font-size-medium;
  }
}

.news-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    text-align: center;
    margin-bottom: $spacing-unit;
  }
}

.errorMessage {
  height: auto;
  color: $red;
  margin-top: $small-spacing;
  font-size: 0.9rem;
  line-height: 1.2;
}

// Login-specific styles
.login-page {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    width: $card-width;
    max-width: $card-max-width;
    padding: $card-padding;
    border-radius: $border-radius;
    box-shadow: $shadow-light;
    background-color: $white-1;

    .ant-card-body {
      padding: $small-spacing; // Ensure form has internal padding
    }

    @media (max-width: $breakpoint-mobile) {
      width: $card-max-width;
      padding: $small-spacing;
    }
  }
}