@use 'variables' as var;

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  height: 100vh;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  color: var(--black);
}

.header {
  justify-content: center;
  width: 100%;
  display: flex;
  color: var(--white-2);
  position: absolute;
}

.app-content {
  padding: var(--padding-vertical) var(--padding-horizontal);
  flex: 1;
  overflow-y: auto;

  .page-title {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    color: var(--black);
    text-align: center;
    margin: var(--spacing-unit) 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(90deg, var(--gray), var(--blue));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: var(--shadow-text);
    padding: var(--small-spacing) var(--spacing-unit);
    border-radius: var(--border-radius);
    display: inline-block;

    @media (max-width: var(--breakpoint-mobile)) {
      font-size: calc(var(--font-size-large) - 0.5rem);
      letter-spacing: 1px;
      padding: var(--small-spacing) var(--small-spacing);
    }
  }
}

.app-footer {
  text-align: center;
  color: #888;
}

.pokemon-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  h1 {
    text-align: center;
    margin-bottom: var(--spacing-unit);
    font-size: var(--font-size-medium);
  }

  .search-input {
    margin-bottom: var(--spacing-unit);
    max-width: 62vh;
    width: 100%;
  }

  .pokemon-table {
    flex: 1;
    overflow-y: auto;
    max-height: 50vh;
  }

  .pokemon-card {
    .ant-card-cover div {
      height: 15vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--white-2);
      color: var(--gray);
    }
  }
}

.counter-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    text-align: center;
    margin-bottom: var(--spacing-unit);
    font-size: var(--font-size-medium);
  }
}

.news-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    text-align: center;
    margin-bottom: var(--spacing-unit);
  }
}

.errorMessage {
  height: auto;
  color: var(--red);
  margin-top: var(--small-spacing);
  font-size: 0.9rem;
  line-height: 1.2;
}

.login-page {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    width: var(--card-width);
    max-width: var(--card-max-width);
    padding: var(--card-padding);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-light);
    background-color: var(--white-1);

    .ant-card-body {
      padding: var(--small-spacing);
    }

    @media (max-width: var(--breakpoint-mobile)) {
      width: var(--card-max-width);
      padding: var(--small-spacing);
    }
  }
}
