html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 95vh;
  padding: 2vh 5vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #333;
}

.pokemon-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: calc(10px + 2vmin);
  }

  .search-input {
    margin-bottom: 20px;
    max-width: 800px;
    width: 100%;
  }

  .pokemon-table {
    flex: 1;
    overflow-y: auto; /* Enable vertical scrolling for the table */
    max-height: 50vh; /* Limit table height to half the viewport */
  }

  .pokemon-card {
      max-height: 100vh;

    .ant-card-cover div {
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f5f5f5;
      color: #888;
    }
  }
}

.errorMessage {
  height: auto;
  color: #ff4d4d;
  margin-top: 8px;
  font-size: 0.9rem;
  line-height: 1.2;
}